<html>
<head>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="true">
<link rel = "stylesheet" type = "text/css" href = "{% static 'blogpost/bootstrap.css' %}">
<link rel = "stylesheet" type = "text/css" href = "{% static 'blogpost/local.css' %}">
</head>
<body>

<br><br>
        <div class="container">
            <div class = "row">
                <div class = "col">
                    <div class = "card shadow-lg mx-auto">
                        {% if user.is_authenticated %}
                        <div class = "card-header">
                            <h1 class = "display-1">Enter details for new post</h1>
                        </div>
                        <div class = "card-body">
                            <form action = "" method ="post">
                                {% csrf_token %}
                                <strong>Heading: </strong><br><br>{{ form.heading }}<br><br><br>
                                <strong>Upload date: </strong><br><br>{{ form.upload_date }}<br><br><br>
                                <strong>Content: </strong><br><br>{{ form.content }}<br><br><br>
                                <button type = "submit" class = "btn btn-success">Submit</button>
                            </form>
                        </div>
                        {% else %}
                        <div class = "card-body"><strong>You don't have permissions to modify posts.</strong></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br><br>
</body>
</html>